.faq {
    width: 100%;
    max-width: 992px;
    margin: 44px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq__title {
    margin-bottom: 16px;
}
.faq__subtitle {
    margin-bottom: 56px;
}

.faq__accordions {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 1024px) {
    .faq {
        margin-top: 24px;
    }
    .faq__title {
        margin-bottom: 12px;
    }
    .faq__subtitle {
        margin-bottom: 32px;
    }
    .faq__accordions {
        gap: 16px;
    }
}
